.button {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 39px;
  padding-right: 39px;
  border: 2px solid #444444;
  color: $color-gray;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: $color-white;
  text-decoration: none;
  text-align: center;
}
