.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__container {
  padding-top: 40px;
  position: relative;

  @media (min-width: $screen-tablet) {
    padding-top: 65px;
  }

  &::before {
    @media (min-width: $screen-tablet) {
      position: absolute;
      display: block;
      content: "";
      width: 50px;
      height: 81px;
      background-color: red;
      right: 0;
      top: 45px;
    }
  }
}

.contacts__header {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;

  @media (min-width: $screen-tablet) {
    font-size: 43px;
    line-height: 50px;
  }
}

.contacts__info {
  margin-bottom: 20px;
  margin-top: 20px;
}

.contacts__email {
  color: $color-grey;
  text-decoration: none;
  border-bottom: 1px solid $color-lightTeal;
}

.contacts__button {
  margin-bottom: 40px;
  margin-top: 40px;
  align-self: center;
  @media (max-width: $screen-tablet) {
    padding-left: 54px;
    padding-right: 54px;
  }

  @media (min-width: $screen-tablet) {
    margin-top: 55px;
    margin-bottom: 55px;
  }
}
