.copyrights {
  padding-top: 22px;
  padding-bottom: 23px;

  @media (min-width: $screen-tablet) {
    padding: 0;
  }
}

.copyrights__cite {
  display: block;
  color: $color-black;
  padding-left: 40px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  text-decoration: none;
}
