.feedback {
  border-bottom: 5px solid red;

  @media (min-width: $screen-tablet) {
    background-image: url("../img/review.jpg");
    background-repeat: no-repeat;
    padding-bottom: 70px;
  }
}

.feedback__container {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
  }
}

.feedback__header {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;
  order: 10;
}

.feedback__block {
  order: 20;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-tablet) {
    order: 30;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.feedback__text {
  margin: 30px 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $color-grey;

  @media (min-width: $screen-tablet) {
    flex-basis: 95%;
  }
}

.feedback__author {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-black;
  font-style: normal;

  @media (min-width: $screen-tablet) {
    font-size: 18px;
    line-height: 24px;
  }
}

.feedback__email {
  display: block;
  margin-top: 10px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 35px;
}

.feedback__button {
  margin-top: 38px;
  order: 30;

  @media (min-width: $screen-tablet) {
    order: 20;
    margin-top: 0;
  }
}
