.goods-list {
  @include simple-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-tablet) {
    flex-direction: row;
  }
}

.goods-list__item {
  padding: 30px;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: $color-white;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: red;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: $screen-tablet) {
    width: 50%;
  }
}

.goods-list__item--interior {
  background-color: $color-lightTeal;
}

.goods-list__item--toys {
  background-color: $color-teal
}

