.main-content__header {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  border-bottom: 7px solid red;
}

.main-content__header-container {
  @media (min-width: $screen-mobile) {
    width: $screen-mobile;
  }

  @media (min-width: $screen-tablet) {
    width: $container-tablet;
  }

  @media (min-width: $screen-desktop) {
    width: $container-desktop;
  }
}

.main-content__title {
  padding-top: 70px;
  margin: 0;
  margin-bottom: 140px;
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: $color-black;
}
