.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-nav__list {
  @include simple-list;
  position: absolute;
  background-color: $color-white;
  width: 100%;
  top: 100%;
  z-index: 100;

  @media (min-width: $screen-tablet) {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  @media (min-width: $screen-desktop) {
    justify-content: normal;
  }
}

.main-nav__logo {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.main-nav__list-container {
  position: relative;
  border-bottom: 1px solid #ececec;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $screen-tablet) {
    border-bottom: none;
  }
}

.main-nav__list-container--logo {
  order: 1;
  @media (min-width: $screen-tablet) {
    width: 320px;
  }

  @media (min-width: $screen-desktop) {
    order: 3;
    flex-basis: 250px;
  }
}

.main-nav__list-container--search {
  position: relative;
  order: 2;
  &::before {
    position: absolute;
    content: "";
    background: red;
    left: 30px;
    top: 50%;
    width: 18px;
    height: 19px;
    transform: translateY(-50%);
  }
  @media (min-width: $screen-tablet) {
    width: 80px;
    font-size: 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  @media (min-width: $screen-desktop) {
    order: 4;
  }
}

.main-nav__list-container--cart {
  position: relative;
  order: 3;
  &::before {
    position: absolute;
    content: "";
    background: red;
    left: 30px;
    top: 50%;
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
  }
  @media (min-width: $screen-tablet) {
    width: 315px;
  }

  @media (min-width: $screen-desktop) {
    order: 5;
    width: 185px;
    padding-left: 85px;
  }
}

.main-nav__list-container--catalog {
  order: 4;
  @media (min-width: $screen-tablet) {
    position: absolute;
    bottom: -60px;
  }

  @media (min-width: $screen-desktop) {
    order: 1;
    position: static;
    border-right: 1px solid #ececec;
    flex-basis: 185px;
  }
}

.main-nav__list-container--to-order {
  order: 5;
  @media (min-width: $screen-tablet) {
    position: absolute;
    bottom: -60px;
    left: 170px;
  }

  @media (min-width: $screen-desktop) {
    order: 2;
    position: static;
    flex-basis: 216px;
  }
}

.main-nav__list-container--new {
  display: none;
  order: 6;

  @media (min-width: $screen-desktop) {
    display: block;
    position: absolute;
    top: 80px;
  }
}

.main-nav__list-container--sale {
  display: none;
  order: 7;

  @media (min-width: $screen-desktop) {
    display: block;
    position: absolute;
    top: 80px;
    left: 220px;
  }
}

.main-nav__list-container--free-shipping {
  display: none;
  @media (min-width: $screen-tablet) {
    display: block;
    position: absolute;
    bottom: -60px;
    right: 0px;
    order: 8;
  }
}

.main-nav__item {
  display: block;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: $color-black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $screen-tablet) {
    line-height: 24px;
    text-transform: none;
  }
}

.main-nav__item--logo {
  padding-top: 19px;
  padding-bottom: 19px;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: $screen-tablet) {
    text-align: left;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  @media (min-width: $screen-desktop) {
    text-align: center;
  }
}

.main-nav__item--cart {
  @media (min-width: $screen-tablet) {
    font-size: 17px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

.main-nav__item--catalog {
  @media (min-width: $screen-tablet) {
    font-size: 15px;
  }

  @media (min-width: $screen-desktop) {
    text-align: left;
    font-size: 17px;
  }
}

.main-nav__item--to-order {
  @media (min-width: $screen-tablet) {
    font-size: 15px;
  }

  @media (min-width: $screen-desktop) {
    font-size: 17px;
  }
}

.main-nav__item--free-shipping {
  font-size: 15px;
  font-weight: 400;
}
