.modal-cart {
  width: $screen-mobile;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  margin: 0 auto;

  @media (min-width: $screen-tablet) {
    width: 566px;
  }
}

.modal-cart__container {
  padding-top: 35px;
  padding-bottom: 45px;

  @media (min-width: $screen-tablet) {
    width: 355px;
  }
}

.modal-cart__form {
  text-align: center;
}

.modal-cart__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $screen-tablet) {
    font-size: 30px;
    line-height: 1.3;
  }
}

.modal-cart__list-header {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;

  @media (min-width: $screen-tablet) {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

.modal-cart__list {
  @include simple-list;
  display: flex;
  justify-content: space-between;
}

.modal-cart__list-container {
  position: relative;
}

.modal-cart__size {
  display: block;
  width: 78px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  border: 2px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (min-width: $screen-tablet) {
    width: 108px;
  }

}

.modal-cart__submit {
  border: none;
  margin-top: 30px;
  width: 100%;
  padding-bottom: 18px;
  padding-top: 18px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $color-white;
  background-color: $color-lightTeal;
}


