.page-footer {
  background-color: #f1f1f1;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.page-footer__logo {
  @media (max-width: $screen-desktop) {
    display: none;
  }
}


