.slider__buttons {
  display: flex;
  @media (min-width: $screen-tablet) {
  border: 1px solid red;
  flex-basis: 167px;
}

}

.slider__button {
  width: 50%;
  height: 50px;
  border: 1px solid #ececec;
  background-color: $color-white;
  padding: 0;
  margin: 0;
}
