.to-order {
  padding-bottom: 55px;
}

.to-order-container {
  display: block;
  flex-direction: column;
}

.to-order__fieldset {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  padding-bottom: 30px;
  border: none;

  &::before {
  position: absolute;
  display: block;
  content: "";
  height: 1px;
  width: 200px;
  background-color: $color-lightTeal;
  top: 12px;
  right: 0;
  }

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;

    &::before {
      display: none;
    }
  }
}

.to-order__fieldset--tel {
  padding-bottom: 0;
}

.to-order__fieldset--email {
  padding-top: 0;
}

.to-order__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 75%;
  }
}

.to-order__legend {
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: $color-lightTeal;

  @media (min-width: $screen-tablet) {
    flex-basis: 25%;
    padding-top: 20px;
  }
}

.to-order__label {
  font-size: 19px;
  font-weight: 700;
  margin-top: 22px;
  margin-bottom: 22px;
  position: relative;
  color: $color-black;
}

.to-order__label--type {
  @media (min-width: $screen-tablet) {
    flex-basis: 100%;
  }
}

.to-order__label--color {
  @media (min-width: $screen-tablet) {
    flex-basis: 35%;
  }
}

.to-order__label--radio {
  padding-left: 65px;
}

.to-order__label--checkbox {
  padding-left: 65px;
}

.to-order__label--name {
  font-size: 17px;
  color: $color-black;

  @media (min-width: $screen-tablet) {
    display: flex;
    width: 100%;
  }
}

.to-order__label--tel {
  @media (min-width: $screen-tablet) {
    display: flex;
    width: 100%;
  }
}

.to-order__label--email {
  @media (min-width: $screen-tablet) {
    display: flex;
    width: 100%;
  }
}


.to-order__fieldset--optional-text-container {
  padding: 0;

  @media (min-width: $screen-tablet) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.to-order__hint-container {
  @media (min-width: $screen-tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.to-order__hint {
  display: block;
  margin-top: 15px;

  @media (min-width: $screen-tablet) {
    order: 2;
    margin-top: 0;
  }
}

.to-order__button {
  margin-top: 30px;

  @media (min-width: $screen-tablet) {
    order: 1;
    margin-top: 0;
  }
}

.to-order__group--bg-color {
  @media (min-width: $screen-tablet) {
    background-color: $color-lightGray;
  }
}
