$screen-mobile:               320px;
$screen-tablet:               768px;
$screen-desktop:              1250px;

$container-mobile:            260px;
$container-tablet:            688px;
$container-desktop:           1050px;

$color-black:                 #000000;
$color-white:                 #ffffff;
$color-gray:                  #444444;
$color-lightGray:             #f1f1f1;
$color-teal:                  #56c3b2;
$color-lightTeal:             #63d1bb;
