$screen-mobile:               320px;
$screen-tablet:               768px;
$screen-desktop:              1250px;

$container-mobile:            320px;
$container-tablet:            768;
$container-desktop:           1250px;

$color-black:                 #000000;
$color-white:                 #ffffff;
$color-grey:                  #444444;
$color-teal:                  #56c3b2;
$color-lightTeal:             #63d1bb;
