.advantages__container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-tablet) {
    padding-top: 55px;
    padding-bottom: 80px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $screen-desktop) {
    width: 875px;
    padding-top: 65px;
    padding-bottom: 90px;
    padding-left: 175px;
  }
}

.advantages__list {
  @include simple-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-tablet) {
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 50%;
  }

  @media (min-width: $screen-desktop) {
    flex-basis: 350px;
  }
}

.advantages__header {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  color: $color-black;
  margin-bottom: 20px;

  @media (min-width: $screen-tablet) {
    font-size: 53px;
    line-height: 57px;
    flex-basis: 100%;
  }
}

.advantages__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-black;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $screen-tablet) {
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__text {
  display: block;
  margin-top: 19px;
}
