.main-nav {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    min-height: 88px;
    justify-content: flex-end;
  }

  @media (min-width: $screen-desktop) {
    justify-content: space-between;
  }

}

.main-nav__list {
  @include simple-list;
  position: absolute;
  background-color: $color-white;
  width: 100%;
  top: 100%;
  z-index: 100;
  display: none;

  @media (min-width: $screen-tablet) {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-basis: 325px;
  }

  @media (min-width: $screen-desktop) {
    justify-content: normal;
    flex-basis: auto;
  }
}

.main-nav__list--opened {
  display: block;
}

.main-nav__logo {
  border-bottom: 1px solid #ececec;
  position: relative;

  @media (min-width: $screen-tablet) {
    flex-grow: 1;
    border-bottom: none;
  }

  @media (min-width: $screen-desktop) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
  }
}

.logo {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__list-container {
  position: relative;
  border-bottom: 1px solid #ececec;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: $screen-tablet) {
    border-bottom: none;
  }

  @media (min-width: $screen-desktop) {
    display: flex;
    align-items: center;
  }
}

.main-nav__list-container--logo {
  order: 1;
  @media (min-width: $screen-tablet) {
    width: 320px;
  }

  @media (min-width: $screen-desktop) {
    order: 3;
    flex-basis: 250px;
  }
}

.main-nav__list-container--search {
  position: relative;
  order: 2;

  @media (min-width: $screen-tablet) {
    width: 80px;
    font-size: 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  @media (min-width: $screen-desktop) {
    order: 4;
  }
}

.main-nav__icon {
  position: absolute;
  top: 50%;
  left: 30px;
  opacity: 0.2;
  transform: translateY(-50%);
}

.main-nav__list-container--cart {
  position: relative;
  order: 3;


  @media (min-width: $screen-tablet) {
    width: 265px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $screen-desktop) {
    order: 5;
    width: 270px;
  }
}

.main-nav__list-container--catalog {
  order: 4;

  @media (min-width: $screen-tablet) {
    position: absolute;
    bottom: -50%;
    left: -100%;
  }

  @media (min-width: $screen-desktop) {
    order: 1;
    position: static;
    border-right: 1px solid #ececec;
    flex-basis: 184px;
  }
}

.main-nav__list-container--to-order {
  order: 5;
  @media (min-width: $screen-tablet) {
    position: absolute;
    bottom: -50%;
    left: -50%;
  }

  @media (min-width: $screen-desktop) {
    order: 2;
    position: static;
    flex-basis: 216px;
  }

  @media (min-width: $screen-desktop) {
    margin-right: auto;
  }
}

.main-nav__list-container--new {
  display: none;
  order: 6;

  @media (min-width: $screen-desktop) {
    display: block;
    position: absolute;
    bottom: -50%;
    left: 0;
  }
}

.main-nav__list-container--sale {
  display: none;
  order: 7;

  @media (min-width: $screen-desktop) {
    display: block;
    position: absolute;
    bottom: -50%;
    left: 21%;
  }
}

.main-nav__list-container--free-shipping {
  display: none;
  @media (min-width: $screen-tablet) {
    display: block;
    position: absolute;
    bottom: -50%;
    right: 0px;
    order: 8;
  }
}

.main-nav__item {
  display: block;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  color: $color-black;
  text-decoration: none;
  font-weight: 700;
  line-height: 24px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $screen-tablet) {
    line-height: 24px;
    text-transform: none;
  }
}

.main-nav__item--logo {
  width: 150px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
  line-height: 0;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }

  @media (min-width: $screen-tablet) {
    margin-left: 0;
    text-align: left;
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 9px;
    padding-bottom: 7px;
    text-align: center;
  }
}

.main-nav__item--search {
  width: 100%;
  height: 100%;

  &:hover > .main-nav__icon--search {
    opacity: 1;
    fill: $color-lightTeal;
  }

  &:active > .main-nav__icon--search {
    fill: $color-lightTeal;
  }

  @media (min-width: $screen-tablet) {
    padding: 0;
  }
}

.main-nav__item--cart {
  &:hover > .main-nav__icon--search {
    opacity: 1;
    fill: $color-lightTeal;
  }

  &:active > .main-nav__icon--search {
    fill: $color-lightTeal;
  }

  @media (min-width: $screen-tablet) {
    padding-left: 79px;
    font-size: 17px;
  }

  @media (min-width: $screen-desktop) {
    padding-left: 85px;
  }
}

.main-nav__cart-content {
  text-transform: lowercase;
}

.main-nav__item--catalog {
  @media (min-width: $screen-tablet) {
    font-size: 15px;
    padding: 0;
  }

  @media (min-width: $screen-desktop) {
    text-align: left;
    font-size: 17px;
  }
}

.main-nav__item--to-order {
  @media (min-width: $screen-tablet) {
    font-size: 15px;
    padding: 0;
  }

  @media (min-width: $screen-desktop) {
    font-size: 17px;
  }

  @media (min-width: $screen-desktop) {
    padding-left: 35px;
  }
}

.main-nav__item--free-shipping {
  font-size: 15px;
  font-weight: 400;
  padding: 0;
}

.main-nav__item--sale {
  @media (min-width: $screen-desktop) {
    padding: 0;
    font-size: 15px;
  }
}

.main-nav__item--new {
  @media (min-width: $screen-desktop) {
    padding: 0;
    font-size: 15px;
  }
}
