.map {
  margin-left: -30px;

  @media (min-width: $screen-tablet) {
    margin-left: -50px;
    order: 20;
  }

  @media (min-width: $screen-desktop) {
    margin-left: 0;
  }
}

.map__content {
  height: 460px;
  width: 320px;

  @media (min-width: $screen-tablet) {
    width: 768px;
  }

  @media (min-width: $screen-desktop) {
    width: 525px;
  }
}
