.product-list {
  margin-top: 30px;

  @media (min-width: $screen-tablet) {
    margin-top: 80px;
  }

  @media (min-width: $screen-desktop) {
    margin-top: 130px;
  }
}

.product-list__container {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $screen-desktop) {
    justify-content: space-between;
    align-items: stretch;

    &::after {
      content: "";
      flex-basis: 315px;
    }
  }
}

.product-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &:hover .product-list__item-description {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .product-list__item-description {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    flex-basis: 100%;
    margin-bottom: 54px;
  }

  @media (min-width: $screen-desktop) {
    flex-direction: column;
    flex-basis: 315px;
    margin-bottom: 57px;
  }
}

.product-list__item-picture {
  line-height: 0;
}

.product-list__item-description {
  display: flex;
  flex-direction: column;
  border: 1px solid #ececec;
  padding-right: 25px;
  padding-left: 25px;


  @media (min-width: $screen-tablet) {
    padding-right: 30px;
    padding-left: 30px;
    flex-basis: 100%;
  }

  @media (min-width: $screen-desktop) {
    flex-basis: auto;
    min-height: 200px;
    height: 100%;
  }
}

.product-list__item-info {
  padding-top: 30px;
  padding-bottom: 25px;
}

.product-list__item-name {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: $screen-tablet) {
    font-size: 20px;
  }
}

.product-list__item-parametrs {
  font-size: 13px;

  @media (min-width: $screen-tablet) {
    font-size: 15px;
  }
}

.product-list__item-cost {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #ececec;
  font-size: 15px;
  font-weight: 700;

  @media (min-width: $screen-tablet) {
    font-size: 17px;
    margin-top: auto;
  }
}
