.slider__buttons {
  display: flex;

  @media (min-width: $screen-tablet) {
  flex-basis: 167px;
  }
}

.slider__button {
  width: 50%;
  height: 50px;
  border: 1px solid #ececec;
  background-color: $color-white;
  padding: 0;
  margin: 0;

  @media (min-width: $screen-tablet) {
  border: none;
  }
}
