.weekly-goods {
  border-bottom: 7px solid red;
}

.weekly-goods__container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding-bottom: 35px;
  justify-content: space-between;

  @media (min-width: $screen-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 55px;
    padding-bottom: 52px;
  }

  @media (min-width: $screen-desktop) {
    padding-bottom: 73px;
    margin-top: 130px;
  }
}
.weekly-goods__selected-goods {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $color-black;
  order: 5;
  z-index: 1;

  @media (min-width: $screen-tablet) {
  width: 334px;
  flex-basis: 89%;
  font-size: 43px;
  line-height: 50px;
  }

  @media (min-width: $screen-desktop) {
    order: 10;
    flex-basis: 875px;
    font-size: 53px;
    line-height: 57px;
  }
}

.weekly-goods__title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $color-lightTeal;
  text-transform: uppercase;
  order: 10;

  @media (min-width: $screen-tablet) {
    flex-basis: 5%;
    text-align: center;
  }

  @media (min-width: $screen-desktop) {
    flex-basis: 85px;
    order: 5;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 17px;
    line-height: 17px;
  }
}

.weekly-goods__description {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: $screen-tablet) {
    width: 290px;
    font-size: 17px;
    line-height: 30px;
  }
}

.weekly-goods__info {
  margin-bottom: 30px;
  margin-top: 30px;
  order: 15;

  @media (min-width: $screen-desktop) {
    width: 290px;
    margin-top: 55px;
    margin-left: 175px;
  }
}

.weekly-goods__image {
  order: 20;
  line-height: 0;

  @media (min-width: $screen-tablet) {
    margin-top: 55px;
  }

  @media (min-width: $screen-desktop) {
    flex-basis: 525px;
    margin-top: -100px;
  }
}

.weekly-goods__cost-and-buy {
  order: 25;

  @media (min-width: $screen-tablet) {
    flex-basis: 290px;
    margin-top: -122px;
  }

  @media (min-width: $screen-desktop) {
    margin-left: 175px;
  }
}

.weekly-goods__cost {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $screen-desktop) {
    font-size: 20px;
  }
}

.weekly-goods__button {
  width: 100%;
}
